.btn.waves-effect { color: #fff; }

a.waves-effect,
a.waves-effect:hover { background: #01BCFF; }

.waves-effect,
.waves-effect:hover { background: #1bb556; }

.waves-effect,
.waves-effect:hover { background: #ff4f0f; }
